*{
    margin: 0;
    padding: 0;
}

body{
    background-color: silver;
    font-family: "Oswald", sans-serif;
}




/*HEADER*/
header{

}

header img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1C1F42;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
nav a:hover{
    color: #FFCC33;
    transform: scale(1.1);
}

#darkModeToggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode nav {
    background-color: #3D3D3D;
}

.dark-mode nav a {
    color: gold;
}

.dark-mode nav a:hover{
    color: white;
}




/*MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

main h1{
    text-align: center;
    font-size: 35px;
}

section {
    width: 85%;
    padding: 1rem;
    border: 3px solid darkgoldenrod;
    border-radius: 5px;
    background: #FFCC33;
}

section h2{
    text-align: center;
    padding-bottom: 21px;
}

section h3{
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}

section p{
    text-align: center;
    font-size: 14px;
}

#movies-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Creates 4 equal columns */
    gap: 21px;
}

.movie {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
}

.movie img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#shows-container {

}

.show{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    text-align: center;
}

.show img{
    width: 30%;
    height: auto;
    padding-left: 50px;
}

.show p{
    padding-bottom: 30px;
    font-size: 13px;
    padding-left: 260px;
    padding-right: 240px;
    text-align: justify;
}

/*Dark Mode*/
.dark-mode{
    background: black;
    border-color: #666;
}

.dark-mode section {
    background: #444;
    border-color: #666;
}

/*Fonts*/
h1, h2{
    font-family: "Russo One", sans-serif;
}




/*Footer*/
footer {
    background-color: #1C1F42;
    color: white;
    padding: 20px;
    
}

footer p{
    text-align: center;
    font-size: 20px;

}

.dark-mode footer{
    background-color: #3D3D3D;
}

.dark-mode footer p{
    color: gold;
}