@import "partials/footer.css";
@import "partials/header.css";
@import "partials/global.css";
@import "partials/variables.css";
@import "partials/home.css";
@import "partials/dark-mode.css";






<<<<<<< HEAD
/*Navigation menu*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1C1F42;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
nav a:hover{
    color: #FFCC33;
    transform: scale(1.1);
}

#darkModeToggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode nav {
    background-color: #3D3D3D;
}

.dark-mode nav a {
    color: gold;
}

.dark-mode nav a:hover{
    color: white;
}

=======
>>>>>>> dc0eed1ad83144c7530ed8ae7b5b9a9fe98a0136




/*MAIN*/
main{
    padding: 40px;

}

h1{
    text-align: center;
    font-size: 40px;
}

h2{
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

#comics-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    margin-bottom: 30px;
}

.comic-item {
    background: #FFCC33;
    padding: 15px;
    border: 3px solid darkgoldenrod;
    border-radius: 5px;
    text-align: center;
    max-width: 250px; 
}

.dark-mode .comic-item{
    background: #3D3D3D;
    border-color: #666;
}

.comic-image {
    width: 220px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comic-item p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
.dark-mode .comic-item p{
    color: white;
}

/*Fonts*/
h1, h2{
    font-family: "Russo One", sans-serif;
}


@media screen and (min-width: 768px){
    .footer-content {
        flex-direction: row;
        
    }
}
<<<<<<< HEAD

footer p{
    text-align: center;
    font-size: 20px;

}

.dark-mode footer{
    background-color: #3D3D3D;
}

.dark-mode footer p{
    color: gold;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distributes items across the row */
    text-align: center;
}

.logo {
    height: 50px;
}

.footer-text {
    flex-grow: 1; /* Allows the text to expand and center itself */
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 10px; /* Adds space between icons */
}

.social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}
=======
>>>>>>> dc0eed1ad83144c7530ed8ae7b5b9a9fe98a0136
