@import "partials/footer.css";
@import "partials/header.css";
@import "partials/global.css";
@import "partials/variables.css";
@import "partials/home.css";
@import "partials/dark-mode.css";








/*MAIN*/
main{
    padding: 40px;

}

h1{
    text-align: center;
    font-size: 40px;
}

h2{
    text-align: center;
    padding: 25px;
    font-size: 25px;
}

#comics-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    margin-bottom: 30px;
}

.comic-item {
    background: #FFCC33;
    padding: 15px;
    border: 3px solid darkgoldenrod;
    border-radius: 5px;
    text-align: center;
    max-width: 250px; 
}

.dark-mode .comic-item{
    background: #3D3D3D;
    border-color: #666;
}

.comic-image {
    width: 220px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comic-item p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}
.dark-mode .comic-item p{
    color: white;
}

/*Fonts*/
h1, h2{
    font-family: "Russo One", sans-serif;
}


@media screen and (min-width: 768px){
    .footer-content {
        flex-direction: row;
        
    }
}
