@import "partials/footer.css";
@import "partials/header.css";
@import "partials/global.css";
@import "partials/variables.css";
@import "partials/home.css";
@import "partials/darkmode.css";



.batman {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #242750, #646464);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    
}

.batman p {
    text-align: left;
    margin-bottom: 20px;;
}

.batman h1 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 247, 98);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

.batman img {
    width: 60%;
    max-width: 500px;
    border: 5px solid rgb(255, 247, 98);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}


.about-batman {
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 16px;
    line-height: 1.6;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: -20px;
    
}

.characters h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 247, 98);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    text-align: center;
}

#character-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
    justify-content: center;
}

#character-list li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #f1f1f1;
    transition: all 0.3s ease;
}

#character-list li {
    border: 1px solid #000000;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #e6e3e3;
    border-radius: 8px;
    width:85%;
    min-height: 20%;
    max-height: 20%;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#character-list li div {
    width:100%;

}

#character-list li img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #333;
    transition: .2s;
}


.button-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#toggle-btn {
    padding: 12px 30px;
    font-size: 16px;
    background-color: #1C1F42;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#toggle-btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.other-pages {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom,#646464 , #242750);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    gap: 10px;
    align-items: center;
    padding-top: 20px;
}

.other-pages a div{
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 16px;
    line-height: 1.6;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: -20px;
    width: 300px;
    height: 100px;
    transition: .2s all;
}

.other-pages a{
    text-decoration: none;
    color: white;
}

.other-pages a div:hover{
    color:rgb(255, 247, 98);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15);
}


@media screen and (min-width: 800px){


    #character-list li {
        width:40%;
    }

    .batman h1 {
        grid-column: span 2; 
        text-align: center;
    }

    .batman {
        align-items: center;
        
        gap: 40px;
        padding: 80px;
    }

    .batman img {
        width: 100%;
        max-width: 500px;
        align-self: flex-start;
    }

    .about-batman {
        padding: 30px;
        font-size: 18px;
    }

    .footer-content {
        flex-direction: row;
        
    }

    .feedback-content {
        width: 80%;
        padding: 1.5rem;
    }

    .feedback-form input,
    .feedback-form select,
    .feedback-form textarea {
        width: 100%;
        font-size: 1rem;
    }

    .other-pages {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

